@import "tailwindcss";
@plugin "daisyui";

:root[data-theme="dark"] {
  --bg: #000000;
  --text: #ffffff;
}

:root[data-theme="light"] {
  --bg: #ffffff;
  --text: #000000;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--bg);
  color: var(--text);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientMove 4s ease infinite;
}
